.back-button {
    position: relative;
    top: 10px;
    left: 10px;
    padding: 10px 15px;
    background-color: #f0f0f0;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    z-index: 10;
  }
  
  .back-button:hover {
    background: white;
    color: rgb(51, 46, 44);
  }
  