@font-face {
  font-family: 'Baby Doll';
  src: url('../fonts/Baby\ Doll.ttf') format('truetype');
}



.menu-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.background-image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.menu-items {
  position: relative;
  width: 100%;
  height: 100%;
}

.menu-item {
  position: absolute;
  padding: 5px 10px; 
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.0);
  color: #7CC9D8;
  text-align: center;
  font-family: 'Baby Doll', 'Roboto', sans-serif;
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.3s ease, background 0.3s ease;
  box-shadow: none; 
}

.menu-item h2 {
  text-shadow: 1px 2px 8px rgba(60, 52, 40, 0.3); 
}

.menu-item:hover {
  transform: scale(1.05);
}


.cocina {
  color: #3b1d1d;
  top: 48%; 
  left: 26%;
}

.jardin {
  color: #3b1d1d;
  top: 58%;
  left:2%;
}

.escaleras {
  color: #3b1d1d;
  top: 60%;
  left: 75%;
}

.cuarto {
  color: #3b1d1d;
  top: 28%;
  right: 22%;
}

.estanteria {
  color: #3b1d1d;
  top: 37%;
  right:40.5%;
}

@media (max-width: 768px) {
  .menu-item {
    font-size: 12px;
  }
}

.hamburger-menu {
  position: absolute;
  font-family: 'Baby Doll', 'Roboto', sans-serif;
  top: 20px;
  left: 20px;
  width: 30px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1000;
}

.hamburger-menu .line {
  font-family: 'Baby Doll', 'Roboto', sans-serif;
  width: 100%;
  height: 4px;
  background-color: #fff;
  border-radius: 2px;
}

.dropdown-menu {
  font-family: 'Baby Doll', 'Roboto', sans-serif;
  position: absolute;
  top: 60px;
  left: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
  border-radius: 5px;
  z-index: 999;
}

.dropdown-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown-menu ul li {
  color: #fff;
  padding: 10px 15px;
  cursor: pointer;
  transition: background 0.3s;
}

.dropdown-menu ul li:hover {
  background-color: rgba(255, 255, 255, 0.2);
}